<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingreso Cliente</title>
</head>
<body>
    <h1>Bienvenido</h1>
    <form method="post" action="{{ url_for('main_bp.login') }}">
        <label for="name">Nombre:</label>
        <input type="text" name="name" id="name" required>
        <br>
        <label for="table_number">Número de Mesa:</label>
        <input type="number" name="table_number" id="table_number" required>
        <br>
        <input type="submit" value="Ingresar">
    </form>
</body>
</html>
